@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300&family=Wallpoet&display=swap&family=Montserrat:wght@100;200;400;600&family=Raleway:wght@200;500&display=swap');
:root
{
    --color : #dc3546;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*********************************ERROR PAGE*********************************/
.mainErrPage
{
    width: 100%;
    height: 100vh;
    background: url("../images/errBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.errorContainer
{
    background-color: #dc3546d6;
    width: 50%;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
}
.headerConnection
{
    background-color: #340448;
    width: 100%;
    height: 100px;
}
.logo
{
    font-family: 'Wallpoet', sans-serif;
    color: #dc3546;
}
.logo h6
{
    margin-top: -5px;
    font-size: 0.9em;
}
.mainConnection
{
    width: 80%;
    height: 100vh;
}
.wallLogin
{
    height: 100%;
    background: url("../images/loginBackground1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.formLogin
{
    background-color: #340448;
    height: 100%;
    padding: 20px;
}
.btn-reg
{
    background-color: #dc3546;
}
.btn-reg:hover
{
    background-color: #ab2936;
}
.btn-purple
{
    background-color: #340448;
}
.btn-purple:hover
{
    background-color: #4c076a;
}
.error
{
    color: #f7a1a9;
}
/*****************************************header*******************************************/
.header
{
    background-color: #340448;
    height: 70px;
}
.userInfo
{
    width: 20%;
}
.info
{
    font-size: .8em;
}
.user img
{
    width: 50px;
    height: 50px;
    border: 2px solid #eec6ff;
    border-radius: 50%;
}
.username
{
    color: #eec6ff;
}
.user, .notifications, .deconnexion, .menuText
{
    cursor: pointer;
}
#notifSideBar
{
    background-color: #340448;
    border-left: 1px solid #eec6ff;
}
h3.notifSideBarTitle
{
    color: #eec6ff;
    font-weight: 400;
}
#notifications
{
    position: relative;
}
#notifications::after
{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
}
/*****************************************DASHBORD ADMIN*******************************************/
.sideMenu
{
    background-color: #340448;
    border-top: 1px solid #dc354699;
    height: calc(100vh - 70px);
    width: 20%;
}
.sideMenuWrapper
{
    height: 50%;
    width: 80%;
}
.dashContent
{
    height: max-content;
    width: 80%;
}
.box
{
    width: 20%;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
}
.box h5
{
    font-weight: 600;
}
.boxEtudiant
{
    background-color:#340448;
}
.boxProf
{
    background-color: #dc3546;
}
.boxClasse
{
    background-color: #340448;
}
.boxComptes
{
    background-color: #dc3546;
}
.journal
{
    width: 20%;
    height: 60vh;
    border-radius: 10px;
}
.journal h6
{
    background-color: rgba(255, 255, 255, 0.921);
    border-radius: 10px 10px 0 0;
}
.journalEtudiant
{
    background-color: #340448;
}
.journalProfesseur
{
    background-color: #dc3546;
}
.journalClasse
{
    background-color: #340448;
}
.journalCompte
{
    background-color: #dc3546;
}
.names
{
    color: #e2c4d3;
    font-weight: 600;
    text-decoration: underline;
}
/***************************************************VUE ENSEMBLE PROF******************************/
.boxPr 
{
    height: max-content;
}
.lstEtudWrapper
{
    overflow-y: scroll;
    scrollbar-color: #dc3546 #340448;
    scrollbar-width: thin;
    height: calc(100vh - 300px);
}
#lstEtudiants
{
    width: 95%;
    height: max-content;
}
#lstEtudiants thead tr
{
    height: 80px;
    background-color: #340448;
    color: white;
}
#lstEtudiants thead
{
    position: sticky;
    top: 0px;
}
#lstEtudiants tbody tr
{
    height: 50px;
    border-bottom: 1px solid #120218;
}
/*****************************************STUDENT STYLE*******************************************/
.dashStudent
{
    background-color: rgb(205, 205, 205);
}
.setting
{
    border-radius: 50%;
    background-color: #340448;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    animation: floating .5s infinite ease alternate-reverse;
}
.display
{
    display: none;
}
.settingWindow
{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    right: 20px;
    background-color: #340448;
    box-shadow: 5px 10px 100px #a5a5a5;
}
.dashContentStudent
{
    width: 100%;
    min-height: max-content;
    background-color: rgb(205, 205, 205);
}
.dashContentWrapper
{
    width: 85%;
    height: max-content;
}
.msgTitleWrapper
{
    width: 100%;
    border-bottom: 1px solid #868686;
}
.title
{
    color: #340448;
}
.messagesImportant
{
    border-top: 5px solid #ab2936;
}
.messagesImportant, .matieres
{
    box-shadow: 10px 10px 100px #868686;
    height: 80vh;
    border-radius: 5px;
}
.matieres
{
    height: max-content;
    border-top: 5px solid #340448;
}
.lstMessages
{
    margin-top: 50%;
}
.detailsMatiere
{
    border-bottom: 1px solid #868686;
    position: relative;
}
.matiereHoraire
{
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}
.matiereHoraire:hover
{
    background-color: #c6c5c5;
}
.matiereHoraireDetails
{
    position: absolute;
    top: -110px;
    right: -10px;
    width: max-content;
    height: 150px;
    border: 1px solid #868686;
    background-color: rgb(247, 246, 246);
    border-radius: 3px;
    padding: 20px;
}
.plagesHoraire
{
    margin-top: -20px;
}
.courseCode
{
    padding-bottom: 5px;
    border-bottom: 1px solid #868686;
}
@keyframes floating {
    from
    {
        bottom: 20px;
    }
    to
    {
        bottom: 23px;
    }
}
/****************************************PROFILE**************************************/

.jsgrid-header-row>.header {
    background:#340448;
    color: white;
    font-size: 0.8em;
    text-align: center;
  }
  